version: '3.8'
services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - '8000:8000'
    restart: unless-stopped

  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile
    environment:
      - NEXT_PUBLIC_API_URL=http://backend:8000
    ports:
      - '3000:3000'
    depends_on:
      - backend
    restart: unless-stopped
